be_teen_admin_initialize:
    path:     /admin/initialize
    defaults: { _controller: BeTeenForumBundle:Admin:Initialize }
    
be_teen_user_ajouterSujet:
    path:     /utilisateur/{categorie}/nouveau
    defaults: { _controller: BeTeenForumBundle:Forum:ajouterSujet }

be_teen_user_ajouterReponse:
    path:     /utilisateur/{categorie}/{sujet}/repondre
    defaults: { _controller: BeTeenForumBundle:Forum:ajouterReponse }
    
be_teen_forum_modifier_sujet:
    path:     /utilisateur/{categorie}/{sujet}/modifier
    defaults: { _controller: BeTeenForumBundle:Forum:modifierSujet }

be_teen_forum_index:
    path:     /
    defaults: { _controller: BeTeenForumBundle:Forum:categorie, categorie: index}

be_teen_forum_categorie:
    path:     /{categorie}
    defaults: { _controller: BeTeenForumBundle:Forum:categorie}

be_teen_forum_sujet:
    path:     /{categorie}/{sujet}
    defaults: { _controller: BeTeenForumBundle:Forum:sujet}