<! Doctype html >
<html>
    <head>
        <title>Connexion</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% if error %}
          <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
          <label for="username">Identifiant :</label>
          <input type="text" id="username" name="_username" value="{{ last_username }}" />

          <label for="password">Mot de passe :</label>
          <input type="password" id="password" name="_password" />
          <input type="checkbox" id="remember_me" name="_remember_me" />
          <label for="_remember_me"/>Maintenir la connexion pour une semaine</label>
          <br />
          <input type="submit" value="Connexion" />
        </form>
    </body>
</html>