<!Doctype html>
        <html>
<head>
    <title>Enregistrement</title>
</head>
<body>
<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit"/>
</form>
</body>
        </html>
