*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: calibri, arial, default;
}

.forum
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
}

.forum .nom
{
	text-align: center;
	width: 150px;
	height: 100px;
	border-radius: 150px;
	padding-top: 50px;
	box-shadow: 0 0 5px black;
	margin: 15px;
	display: inline-block;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: all;
}

.forum .nom:hover
{
	-webkit-transform: scale(1.2) rotate(360deg);
	transform: scale(1.2) rotate(360deg);
}

.forum .nom h3
{
	font-weight: bold;
}

.forum .nom p
{
	font-weight: bold;
}

.forum .premierSujet
{
	height: 130px;
	width: 500px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	padding: 10px;
	border: solid #DBDBDB 1px;
	box-shadow: 0 0 2px black;
	margin-left: 10px;
}

.forum .premierSujet img
{
	float: right;
	width: 50px;
	border-radius: 5px;
	border: solid #DBDBDB 1px;
}

.forum .queue
{
	position: absolute;
	left: 191px;
	top: 84px;
}