.box
{
	width: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 200px;
	margin-top: 200px;
	border: solid 1px lightgrey;
	border-radius: 15px;
	padding: 1%;
        transition-duration: 0.5s;
        transition-property: all;
}
.box table
{
	width: 100%;
}
.box input[type="text"], .box input[type="password"]
{
	width: 100% ;
}
.box input[type="submit"]
{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
.rememberme
{
	
	margin-top: 10px;
}

@media screen and (max-width: 500px)
{
    .box
    {
        width: 98%;
        border-radius: 0;
        border-left: none;
        border-right: none;
	margin-left:none;
	margin-right:none;
	margin-bottom: 75px;
	margin-top: 75px;
    }
}