*
{
	margin: 0;
	padding: 0;
	font-family: calibri;
}
header div.title
{
	background-color: #383838;
	width: 100%;
	padding: 15px;
	box-shadow: 0 0 15px black;
	transform:rotate(-4deg);
	position: relative;
	z-index:1;
	transform-origin: 0 100%;
	margin-bottom: -100px;
        transition-duration: 0.5s;
        transition-propery: all;
}
header 
{
	width: 100%;
	overflow: hidden;
}
header div.title h1 a
{
	font-size: 45px;
	color: #FFAD1D;
	text-decoration: none;
	
}
footer
{
	font-size: 15px;
	color: #FFAD1D;
	border-top: dashed 2px #FFAD1D;
	padding: 15px;
	text-align: center;
}
nav#menuPrincipal
{
	background-color: #FFAD1D;
	box-shadow: 0 0 15px black;
	 width: 100%;
	 transform-origin: 100% 100%;
	 transform:rotate(1deg);
	 height: 104px;
	 z-index:0;
	 margin-bottom: 25px;
        transition-duration: 0.5s;
        transition-propery: all;
	 }
nav div.menu 
 {
	
	position: absolute;
	bottom: 0;
	right: 0;
}
nav div.menu a
{
	color: white;
	text-decoration: none;
	padding: 5px;
	font-weight: bold;
	font-size: 18px;
	
}
nav div.menu a img
{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid white;
	position: relative;
	top: 25px;
	box-shadow: 0 0 5px black;
	
}

@media screen and (max-width: 800px)
{
    nav#menuPrincipal , header div.title
    {
        transform: rotate(0deg);
    }
    
    header div.title
    {
        margin-bottom: 0;
    }
    
    nav#menuPrincipal
    {
        height: 50px;
    }
}