*
{
	margin: 0;
	padding: 0;
}

a
{
    color: black;
    text-decoration: none;
}

body
{
	font-family: calibri, arial, default;
}

.forums
{
	width: 50%;
	float: left;
	vertical-align:top;
}

.sujets
{
	padding: 10px;
	margin-left: 800px;
}

.forum
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 750px;
	clear: both;
}

.forum .nom
{
	text-align: center;
	width: 150px;
	height: 100px;
	border-radius: 150px;
	padding-top: 50px;
	box-shadow: 0 0 5px black;
	margin: 15px;
	float: left;
	position: relative;
	z-index: 3;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-property: all;
	transition-duration: 0.5s;
	transition-property: all;
}

.forum .nom:hover
{
	-webkit-transform: scale(1.2) rotate(360deg);
	transform: scale(1.2) rotate(360deg);
}

.forum .nom h3
{
	font-weight: bold;
}

.forum .nom p
{
	font-weight: bold;
}

/*-----Reduit-----*/

.forums.reduit .premierSujet , .forums.reduit .queue
{
	display: none;
}

.forums.reduit
{
	width: 200px;
}

.forums.reduit + .sujets
{
	margin-left: 188px;
}

.forum .premierSujet
{
	height: 130px;
	overflow: hidden;
	padding: 10px;
	border: solid #DBDBDB 1px;
	box-shadow: 0 0 2px black;
	margin-left: 10px;
	position: relative;
	top: 20px;
	background-color: white;
}

.forum .premierSujet img
{
	float: right;
	width: 50px;
	border-radius: 5px;
	border: solid #DBDBDB 1px;
}

.forum .queue
{
	position: absolute;
	left: 180px;
	top: 84px;
	z-index: 2;
}

.sujets .sujet
{
	margin: 5px;
	padding: 25px;
	border: solid #DBDBDB 1px;
        text-align: justify
}