*
{
	margin: 0;
	padding: 0;
	font-family: calibri;
}
header 
{
	background-color: #383838;
	padding: 15px;
	box-shadow: 0 0 15px black;
	transform:rotate(-2deg) translateY(-40px);
}
header h1
{
	font-size: 45px;
	color: #FFAD1D;
	
}
header span
{
	font-size: 15px;
	color: #FFAD1D;
}
footer
{
	font-size: 15px;
	color: #FFAD1D;
	border-top: dashed 2px #FFAD1D;
	padding: 15px;
	text-align: center;
}
header div
{
	height:15px;
	font: #FFAD1D;
	transform:rotate(2deg) translateY(40px);
}