article
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border: solid 1px lightgrey;
	border-radius: 15px;
	overflow: hidden;
	/*box-shadow: 0 0 10px black;*/
}

article, article .sujetPhoto, article .sujetPhoto img, article .sujetFooter
{
	transition-duration: 0.5s;
	transition-property: all;
}

article .sujetHead
{
	width: 100%;
	background-color: #383838;
	color: #FFAD1D;
	border-bottom: solid 1px lightgrey;
	padding-left: 10px;
	padding-right: 10px;
}

article .sujetFooter .meta
{
	width: 100%;
	height: 50px;
	padding-right: 10px;
	background: linear-gradient(to right, rgba(56,56,56,0) 0%,rgba(0,0,0,0.3) 75%);
}

article .sujetFooter .meta p
{
	padding-right : 10px;
	padding-top: 5px;
}

article .sujetHead h1, article form h1 input[type="text"]
{
	font-size: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}

article .sujetCat
{
	float: right;
	margin-right: 25px;
	text-align: right;
	margin-top: 5px;
}

article .sujetBody
{
	width: 98%;
	min-height: 50px;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 15px;
}

article .sujetBody p
{
	margin-bottom: 15px;
	text-align: justify;
}

article .sujetPhoto
{
	float: left;
	position: relative;
	margin-top: -40px;
	left: 20px;
	border: solid 3px white;
	box-shadow: 0 0 5px black;
	border-radius: 64px;
	overflow: hidden;
}

article:nth-child(even) .sujetPhoto
{
	transform: rotate(-5deg);
}

article:nth-child(odd) .sujetPhoto
{
	transform: rotate(5deg);
}

article .sujetPhoto img
{
	width: 64px;
}

article .sujetFooter
{
	background-size: 100% auto;
	background-position: 0 50%;
	min-height: 40px;
	text-align: right;
	color: white;
	font-weight: bold;
	border-top: solid 1px lightgrey;
}

article form label
{
	display: none;
}

article form textarea
{
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
}

article form h1 input[type="text"]
{
    border: #FFAD1D solid 2px;
    background-color: transparent;
    width: 50%;
    border-radius: 5px;
    color: #FFAD1D;
    padding-left: 1%;
}

article form input[type="submit"]
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
}

article .controlBar
{
    width: 98%;
    margin-top: 15px;
    text-align: right;
    padding-right: 2%;
    height: 20px;
    padding-top: 5px;
    border-top: solid 1px lightgrey;
    font-style: italic;
    color: grey;
}

article .controlBar a
{
    color: grey;
    text-decoration: none;
}

@media screen and (max-width: 800px)
{
	article
	{
		width: 100%;
		border-radius: 0;
		border: none;
		margin: 0;
	}
	
	article .sujetPhoto img
	{
		width: 32px;
	}
	
	article .sujetPhoto
	{
		top: 20px;
	}
	
	article .sujetFooter
	{
		font-size: 15px;
	}
	
	nav#menuPrincipal
	{
		margin-bottom: 0;
	}
}

@media (max-width: 1000px)
{
	article .sujetFooter
	{
                background-size: auto 100%;
	}
    
}