*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: calibri,arial,default;
}

section
{
    margin-left: 5%;
    margin-right: 5%;
}

section h2
{
    color: #E0A500;
    border-bottom: solid 1px #E0A500;
    margin-bottom: 10px;
}

/*-----[Header]-----*/

header
{
    width: 100%;
    max-height: 1000px;
    background-color: #383838;
    overflow: hidden;
    margin-bottom: 10px;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 10px black;
}

header.replie
{
    max-height: 50px;
    box-shadow: 0 0 0px black;
}

header .flashInfo
{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
}

header .flashInfo p
{
    margin-bottom: 5px;
    color: #E0A500;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

header a#sortirAdmin
{
    width: 50px;
    color: white;
    text-decoration: none;
    background-color: #E0A500;
    height: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 45px;
}

header a#sortirAdmin i
{
    position: relative;
    top: 2px;
    right: 2px;
}

header h1
{
    color: #E0A500;
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-top: 5px;
    vertical-align: top;
    font-size: 30px;
}

header h2
{
    color: white;
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
    text-align: right;
    float: right;
    font-size: 30px;
}

/*-----[Footer]-----*/

footer
{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: #c4c4c4 dashed 1px;
}

/*-----[Menu]-----*/

nav.menuCirculaire
{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

nav.menuCirculaire table
{
    width: 100%;
}

nav.menuCirculaire table tr
{
    text-align: center;
}

nav.menuCirculaire a
{
    width: 150px;
    height: 125px;
    display: inline-block;
    color: white;
    background-color: #383838;
    border: #E0A500 solid 5px;
    border-radius: 150px;
    text-align: center;
    text-decoration: none;
    padding-top: 25px;
    transition-duration: 0.2s;
    transition-property: all;
}

nav.menuCirculaire a:hover
{
    transform: rotate(-3deg) scale(1.2);
    box-shadow: 0 0 10px black;
}

nav.menuCirculaire a i
{
    color: #E0A500;
    font-size: 50px;
}

nav.menuCirculaire a h3
{
    font-size: 25px;
}

@media (max-width: 900px)
{
    nav.menuCirculaire a
    {
        width: 75px;
        height: 55px;
        border-radius: 50px;
        padding-top: 20px;  
        border: #E0A500 solid 3px;
    }
    
    nav.menuCirculaire a i
    {
        font-size: 20px;
    }
    
    nav.menuCirculaire a h3
    {
        font-size: 10px;
    }
}

/*-----[Articles]-----*/

article
{
    text-align: justify;
    width: 100%;
    margin: 0;
}

article.col-2
{
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
}

article h4
{
    color: #FF9933;
    text-decoration: none;
}

article h4 a
{
    color: inherit;
    text-decoration: none;
}

article.supprimer, article.ajouter
{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

article.supprimer form input
{
    background-color: #FF9933;
    color: white;
    font-size: 15px;
    border: solid 5px white;
    box-shadow: 0 0 10px black;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

article.ajouter input, article.ajouter select
{
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
/*-----[Sujets]-----*/

article .sujet
{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid #DBDBDB 1px;
}

article .sous.sujet
{
    width: 95%;
    margin-left: 5%;
}

article .sujet p
{
    max-height: 55px;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: all;
}

article .sujet:hover p
{
    max-height: 1000px;
}

article .sujet .meta
{
    margin-top: 5px;
    width: 100%;
}

article .sujet .meta tr.icones td
{
    font-size: 50px;
}

article .sujet .meta tr.icones td a
{
    color: #383838;
    text-decoration: none;
}

article .meta td
{
    text-align: center;
}

/*-----[Categories]-----*/

table.categories
{
    width: 100%;
    border-collapse: collapse;
}

table.categories td
{
    text-align: center;
    font-size: 20px;
    color: #383838;
    border-bottom: #c4c4c4 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.categories .actuelle
{
    background-color: #ffeec1;
}

table.categories td i
{
    font-size: 40px;
    color: #383838;
}

table.categories td a
{
    color: black;
    text-decoration: none;
}