*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: calibri,arial,default;
}

section
{
    margin-left: 5%;
    margin-right: 5%;
}

section h2
{
    color: #E0A500;
    border-bottom: solid 1px #E0A500;
    margin-bottom: 10px;
}

/*-----[Header]-----*/

header
{
    width: 100%;
    height: 50px;
    background-color: #383838;
    overflow: hidden;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    transition-property: all;
}

header:hover
{
    box-shadow: 0 0 10px black;
}

header a#sortirAdmin
{
    width: 50px;
    color: white;
    text-decoration: none;
    background-color: #E0A500;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 45px;
}

header a#sortirAdmin i
{
    position: relative;
    top: 2px;
    right: 2px;
}

header h1
{
    color: #E0A500;
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-top: 5px;
    vertical-align: top;
    font-size: 30px;
}

header h2
{
    color: white;
    display: inline-block;
    width: 20%;
    margin-right: 20px;
    margin-top: 5px;
    vertical-align: top;
    text-align: right;
    float: right;
    font-size: 30px;
}

/*-----[Menu]-----*/

nav.menuCirculaire
{
    width: 70%;
    height: auto;
    padding-left: 15%;
    padding-right: 15%;
}

nav.menuCirculaire table
{
    width: 100%;
}

nav.menuCirculaire table tr
{
    text-align: center;
}

nav.menuCirculaire a
{
    width: 150px;
    height: 125px;
    display: inline-block;
    color: white;
    background-color: #383838;
    border: #E0A500 solid 5px;
    border-radius: 150px;
    text-align: center;
    text-decoration: none;
    padding-top: 25px;
    transition-duration: 0.2s;
    transition-property: all;
}

nav.menuCirculaire a:hover
{
    transform: rotate(-3deg) scale(1.2);
    box-shadow: 0 0 10px black;
}

nav.menuCirculaire a i
{
    color: #E0A500;
    font-size: 50px;
}

nav.menuCirculaire a h3
{
    font-size: 25px;
}