{% extends "BeTeenIndexBundle:Layout:boxLayout.html.twig" %}
{% block titleContent %}Supprimer un sujet{% endblock %}
{% block boxContent %}
<form method="post">
        Voulez vous vraiment supprimer le sujet {{sujet.titre}} ?
          <input type="submit" value="Supprimer" />
</form>
{% endblock %}